<MudPaper Class="panel preview-panel" Elevation="1">
    <MudText Typo="Typo.h6">Preview</MudText>
    <div class="preview-surface">
        <MudText Typo="Typo.body2" Color="Color.Secondary">Preview output (16:9)</MudText>
    </div>
</MudPaper>
