<MudPaper Class="panel timeline-panel" Elevation="1">
    <MudText Typo="Typo.h6">Timeline</MudText>
    <div class="timeline-track">
        <div class="timeline-clip">Clip A</div>
        <div class="timeline-clip">Clip B</div>
    </div>
</MudPaper>
